<h1 class="title"><%= @movie.title %></h1>
<p>
  <strong>Movie title: </strong>
  <td><%= @movie.title %></td>
</p>
<p>
  <strong>Release date: </strong>
  <td><%= @movie.release_date %></td>
</p>
<p>
  <strong>Description: </strong>
  <td><%= @movie.description %></td>
</p>
